[user]
	name = Krystof
	email = krystof.kratky2003@gmail.com
[core]
	editor = vim
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	aa = add -A
	
	uncommit = reset --soft HEAD\\^
	mm = commit -m
	mmf = commit --fixup
	amnd = commit --amend 

	pfwl = push --force-with-lease
	pp = push
	
	
	rebi = "!f() { git rebase -i HEAD~$1; }; f"
	rebcon = rebase --continue
	rebab = rebase --abort

	mergecon = merge --continue
	mergearb = merge --abort
	
	unstage = reset HEAD --
	lg = log --graph
	co = checkout
	sl = stash list
	ss = "!f() { \
		if [[ \"$1\" =~ ^[0-9]+$ ]]; then \
	  		git stash apply \"stash@{$1}\"; \
		else \
	  		git stash push -m \"$1\"; \
		fi; \
	}; f"
[submodule]
        recurse = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[rebase]
	autosquash = true
 
