[user]
	name = Krystof
	email = krystof.kratky2003@gmail.com
[core]
	editor = vim
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	unstage = reset HEAD --
	pfwl = push --force-with-lease
	pp = push
	amnd = commit --amend 
	uncommit = reset --soft HEAD\\^
	rebcon = rebase --continue
	rebab = rebase --abort
	rebi = "!f() { git rebase -i HEAD~$1 --autosquash; }; f"
	co = checkout
	mm = commit -m
	mmf = commit --fixup
	aa = add -A
	lg = log --graph
[submodule]
        recurse = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[rebase]
	autosquash = true
 